:root {
  --button-color: #ff5722;
  --button-hover-color: #ff4911;
  --primary-bc: #212121;
  --nav-color: #212121;
  --secondary-bc: #272727;
}
body {
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.project-summary {
  margin: 30px 0;
  background-color: var(--primary-bc);
  color: white;
  border-radius: 5px;
}

.project-summary > .project-summary-info {
  color: rgb(233, 233, 233);
  background-color: #212121;
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
}

.project-summary-info > p {
  margin: 0;
}

form {
  background-color: var(--primary-bc);
  color: white;
  padding: 30px;
  border-radius: 5px;
  margin-top: 60px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

form > h3,
form > button {
  margin: 50px 0;
}

input[type="text"],
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"],
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"],
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: white;
  box-shadow: none;
  color: white;
}

input[type="text"],
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: white !important;
}
.input-field label {
  color: white;
}

li > .active {
  background-color: var(--button-color);
}

.button {
  background-color: var(--button-color);
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--button-hover-color);
}

.dark-bc {
  background-color: var(--primary-bc);
  color: white;
}
